/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* Wildcard selector to override browser default styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(176, 196, 222);
    text-align: center;
}

body>footer {
    position: sticky;
    top: 100vh;
}

h1 {
    color: rgb(10, 13, 17);
}

.heading {
    padding: 10px 0 20px 0;
}

p {
    padding: 0 0 10px 0;
    font-weight: 500;
    color: rgb(10, 13, 17);
}

/* Game area */
.game-area {
    width: 85%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 0 15px 0;
}

#welcome-text {
    padding: 0 0 15px 0;
}

/* Question and score tally */
.tally-display > p {
    text-align: center;
    font-weight: 700; 
}

/* Flag display */
#flag-image {
    text-align: center;    
}

#flag-container img {
    max-width: 70vw;
    max-height: 30vh;
    object-fit:contain;
}

/* Buttons to select answer for displayed flag */
.answers-options {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.flag-btn {
    width: 200px;
    height: 2rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 245);
    padding: 2px 0 2px 0;
}

#flag-one {
    margin-top: 20px;
}

.flag-btn-true {
    background-color: rgb(0, 128, 0);
}

.flag-btn-false {
    background-color: rgb(255, 0, 0);
}

/* Buttons to navigate game */
#game-btn-container {
    display: grid;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.game-btn {
    width: 100px;
    height: 2rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 135, 202);
}

/* Message for total score */
.message-text {
    font-weight: 700;
    padding: 10px 0 30px 0;
    text-transform: uppercase;
}

/* Footer */
footer {
    width: 100%;
    margin: 0.75em auto;
}

/* Media Queries */

/* Tablets and larger (765px and higher) */
@media screen and (min-width: 765px) {

/* Button styles */
.flag-btn:active,
.flag-btn:hover {
    background-color: rgb(34, 135, 202);
}

.game-btn:active,
.game-btn:hover {
    background-color: rgb(61, 61, 245);
}
}

/* Hide and Disable Styling */
.hide {
    display: none;
}

.disable {
    pointer-events: none;
}